
/* .container-fluid{
    display: flex;
    align-items: center;
    justify-content: "center";
    height: 300px;
    margin-top:100px;
    border: 3px solid yellow;
    border-radius: 30px;   
    box-shadow: 4px 5px;
    font-family: "fantasy",
} */
.container-fluid:visited{
    transform: scale(1.005);
    transition: background-color  9s;
    transition:color 10s;
    color:white;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 5px;
}
.container-fluid::selection{
    color: rgb(255, 255, 255);
    background-color: black;
}

